<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3
                    col-sm-8 col-sm-offset-2
                    col-xs-10 col-sm-offset-1">
            
            <h1 class="text-center">FIND ME A BUS IN ATLANTA</h1>

            <p>Give us your address or corner and we'll let you know if a bus is close by.</p>

            <%= render 'form', location: @location %>
            
        </div>
    </div>
</div>



